<template>
<div>
    <h1>Overivew:</h1>
    <h5 v-for="(value, index) in this.$parent.questions" :key="value.question">
            <h4 v-html="value.question"></h4>
            <p> Your Answer: {{answers[index]}} </p>
            <p> Correct Answer: {{value.correct_answer}} </p>
             
    </h5>
    <h3>Your total score is: {{getTotalScore()}} </h3>
    <button type="button" class="btn btn-success" v-on:click="backtostart">Go back to Home</button>
    
      
</div>
</template>

<script>

import {getAllQuestions} from '../api/questions'

export default {
    name: 'questions',
    async created() {
        try {
            this.questions = await getAllQuestions();
        } catch (error) {
            console.log(error)
        }
    },

    methods: {
        backtostart(){
            this.$router.push('start');
        },

    getTotalScore() {
            let total = 0;
             let q = this.$parent.answers;
            q.forEach((element, index) => {
                if(element == this.$parent.questions[index].correct_answer){
                   total += 10;
                }
            });
            return total;
        }
    
    },
    
    data() {
            return {
                quesetions: [],
                answers: this.$parent.answers,
                totalScore:0 
            }
        }
}
</script>

<style>

</style>