<template>
  <div class="start-page">
  <h1>Welcome to Trivia Quiz!</h1>
  <b-button variant="primary" id="start-button" @click="$router.push('trivia')">PLAY</b-button>
  <div class="picture">
      <img src="https://lakevieweast.com/wp-content/uploads/trivia-stock-scaled.jpg">
  </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>

#start-button{
 
    display: inline-block; 
    border: 2px solid; 
    border-radius: 2px; 
    width: 40%; 
    text-align: center; 
}

#start-button:hover{
  background-color: rgb(50, 104, 204); 
}

img{
  margin: 3rem;
  max-width: 35rem;
}
</style>