<template>    
    <div class="questions">
        <h1 v-if="isloading">Loading..</h1>
        <h3 v-html="this.questions[this.count].question"></h3>
        <b-button class="button" id="true" size="lg" variant="outline-primary" v-on:click="isTrue">True</b-button>
        <b-button class="button" id="false" size="lg" variant="outline-primary" v-on:click="isFalse">False</b-button>
    </div>
</template>

<script>
import {getAllQuestions} from '../api/questions'

export default {
    name: 'questions',
    isloading: true,
    async created() {
        try 
        {
            this.questions = await getAllQuestions()
        } 
        catch (error) 
        {
            console.log(error)
        }
    },

    methods: {

        questionAnswers() {
            this.$parent.answer(this.answers)
            // Redirect to the result page
            this.$router.push('results')
        },

        isTrue() {
            if (this.count == 9) {
                this.questionAnswers();
            }
            this.answers[this.count] = document.getElementById('true').innerText;
            this.count += 1;
        },

         isFalse() {
            if (this.count == 9) {
                this.questionAnswers();
            }
            this.answers[this.count] = document.getElementById('false').innerText;
            this.count += 1;
        },

        getQuestions(){
            return this.questions;
        }

    },


    data() {
        return {
            count: 0,
            questions: [],
            answers: []
        }
    }
}

</script>

<style>

.questions{
    align-content: center;
    margin-top: 10rem;
}

.button{
    margin: 12px;
}

</style>