<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>

import {getAllQuestions} from './api/questions'

export default {
  name: 'App',
  //components:{},
  async created(){
    try {
      this.questions = await getAllQuestions()
    } catch (error) {
      console.log(error)
    }
  },

  methods: {
    answer(answer) {
      this.answers = answer
    }
  },
  
  data(){
    return  {
         questions: [],
         answers: []
       }
     }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

*{
    background-color: bisque;
    text-align: center;
}

</style>
